<section class="section summary-section">

    <h2 class="section-title"><i class="fa fa-rocket"></i>Achievement</h2>

    <div>
        <b>Honor</b>
        <ul>
            <li>2nd Prize in JDD Hackathon, JD Digits, 2/238, 2019</li>
            <li>4th Place (Leader) in Global Optimization Challenge of JD Group, 4/46, 2018</li>
            <li>Outstanding Intern in JD Finance, 2018</li>
            <li>Best Demonstration Runners-up in ACM SIGSPATIAL, 2017</li>
            <li>Outstanding Graduates in Xidian University, 2017</li>
            <li>Second Prize in Microsoft Hackthon, Shaanxi, 2015</li>
        </ul>

        <b>Scholarship</b>
        <ul>
            <li>Graduate National Scholarship, 2017</li>
            <li>National Scholarship, 2016</li>
        </ul>

        <b>Community Services</b>
        <ul>
            <li>Journal Reviewer:</li>
            <ul>
                <li>ACM Transactions on Intelligent Systems and Technology (TIST)</li>
                <li>ACM Transactions on Data Science (TDS)</li>
            </ul>

            <li>Conference External Reviewer: AAAI (2020), SIGKDD (2018,2019), SIGIR (2018,2019), SIGSPATIAL (2018,2019), SSTD (2019), CIKM (2018), WWW 2017)</li>
        </ul>
    </div>

</section>
