{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>Publications</h2>

  {% if site.data.publications.intro %}
  <div class="intro">
      <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for publication in site.data.publications.publications %}
    <div class="item">
      <div class="publication-title"><a href="{{ publication.url }}" target="_blank">{{ publication.title }}</a></div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
      <div class="publication-materials">
        {% if publication.homepage %}
          [<a href="{{ publication.homepage }}" target="_blank">homepage</a>]
        {% endif %}
        {% if publication.poster %}
          [<a href="{{ publication.poster }}" target="_blank">poster</a>]
        {% endif %}
        {% if publication.video %}
          [<a href="{{ publication.video }}" target="_blank">poster</a>]
        {% endif %}
        {% if publication.code %}
          [<a href="{{ publication.code }}" target="_blank">code</a>]
        {% endif %}
        {% if publication.slide %}
          [<a href="{{ publication.slide }}" target="_blank">code</a>]
        {% endif %}
        </div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
